---
layout: default
---
<div class="tags-list">
	{% capture tags %}
	  {% for tag in site.tags %}
	    {{ tag[0] }}
	  {% endfor %}
	{% endcapture %}
	{% assign sortedtags = tags | split:' ' | sort %}
	<div class="row">
	{% for tag in sortedtags %}
	  	<div class="col s12 m6 l4">
		  	<div class="card tag-card">
		    	<div class="card-title black-text"><h4 class="tag-link" id="{{ tag }}">{{ tag }}</h4>
		    	</div>
		      	<ul>
			      {% for post in site.tags[tag] %}
				    <li><a class="tag-post" href="{{ post.url }}">{{ post.title }}</a></li>
				  {% endfor %}
				</ul>
		  	</div>
		</div>
	{% endfor %}
	</div>
</div>