---
#
---
html, body {
	height: 100%;
	width: 100%;
	font-family: 'Lato', sans-serif;
	margin-top: -12px;
}
img {
	max-width: 100%;
	height: auto;
	width: auto\9;
}
a, .index-post, .nav-button:hover {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.page-wrap {
	height: 100%;
	width: 100%;
	min-height: 700px;
	margin: 0 auto;
}
nav {
	background-color: #26a69a !important;
	height: 70px;
	color: red;
	.brand-logo {
		margin-left: 5px;
	}
}
header, .index-card-title, .card-title {
	border-bottom: 1px solid #EBEEF0;
}
.header a {
	color: white;
	&:hover {
		color: black;
	}
}
.copy, .time, .social-media-list {
	text-align: center;
}
.main-title {
	color: white;
	text-align: center;
	text-transform: uppercase;
}
.index-card, .tag-card {
	min-height: 225px;
	border-radius: 4px !important;
	overflow: inherit !important;
}
.index-posts {
	margin: 15px auto;
	max-width: 500px;
}
.post-title, .site-author, .post-author {
	text-align: center;
}
.entry {
	padding: 0 5px; 
}
article {
	margin: 8px !important;
	min-height: 500px;
	overflow: inherit !important;
}
body {
	background-color: #EEEEEE;
}
p {
	color: black;
	margin-bottom: 1.5em;
}
.post-container {
	display: inline-block;
	width: 100%;
	min-height: 300px;
}
.archive {
	margin: 8px !important;
}
.archive-header a {
	color: white !important;
}
.archive-card {
	margin: 19px 0 10px 0;
}
@media (max-width: 1166px) {
	article, img {
		float: none !important;
		margin: 8px auto !important;
	}
}
@media (max-width: 473px) {
	.header {
		height: 80px;
	}
	.nav_menu {
		max-width: 400px;
	}
}
.social-plugins li {
	display: inline;
	list-style-type: none;
	padding: 10px;
}
.tags-list {
	min-height: 625px;
}
.tag-post, .tag-link {
	padding-left: 5px;
}
.tags-title {
	text-transform: uppercase;
	text-align: center;
}
.gravatar {
	border-radius: 100px;
	height: 100px;
	width: 100px;
	display: block;
  	margin: 0 auto;
}
.disqus {
	padding: 5px;
}
@media (max-width: 601px) {
	.side-nav i {
		margin-top: 18px;
	}
}
.about {
	min-height: 550px;
}
.about {
	padding: 10px;
}
.sqor-about {
	list-style-type: inherit;
}
.social-media-list li {
	display: inline;
	list-style-type: none;
	padding: 10px;
}
.about-text {
	padding: 0 5px;
}